/* .rbc-header {
  background: blue;
  color: white;
} */
/* 


div[role="button"][title*="Working Time"] .rbc-event-content {
  display: flex;
  flex-direction: column-reverse;
} */

.rbc-background-event {
  opacity: 0.5 !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column-reverse !important;
}

.rbc-background-event .rbc-event-content {
  display: flex;
  flex-direction: column-reverse;
}

div[role="button"][title*="Working Time"] {
  background-color: rgba(0, 255, 0, 0.5);
  color: black;
}
